*,
html {
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* =======MAIN SELECTORS======== */

body {
    color: white;
}

header {}

nav {}

nav a {}

aside {
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(130, 130, 130, 0.31416316526610644) 46%, rgba(0, 0, 0, 1) 100%);
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 12px;
    border: 5px solid black;
}

aside ul li,
aside ul h3 {
    margin-top: 10%;
    margin-bottom: 10%;
}

main {}

section {}

footer {}


/* =======GRID======== */

.grid-container {
    display: grid;
    grid-template-areas: "header header nav""aside main main""footer footer social";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.grid-header {
    grid-area: header;
    background-image: url("hairbarb.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.grid-nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
}

.grid-nav a {
    color: white;
}

.grid-aside {
    grid-area: aside;
}

.grid-main {
    grid-area: main;
}

.grid-footer {
    grid-area: footer;
}

.grid-social {
    grid-area: social;
}


/* =======TYPOGRAPHY======== */

body,
html {
    font-family: 'Nandaka Western';
    text-align: center;
    background: rgb(135, 135, 135);
    background: radial-gradient(circle, rgba(100, 100, 100, 0.325) 8%, rgba(133, 133, 133, 0.35057773109243695) 29%, rgba(66, 66, 66, 0.3) 45%, rgba(24, 25, 25, 1) 100%), url('barbershopbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    text-shadow: 2px 2px 2px black, -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 0px 2px 2px black, 2px 0px 2px black, 0px -2px 2px black, -2px 0px 2px black, 5px 5px 10px black;
}

h1 {
    font-size: 4em;
    color: #BF953F;
    text-shadow: inset;
}

i {
    color: #BF953F;
}

h3 {
    font-size: 2em;
}

nav {
    font-size: 1em;
    width: 100%;
    margin: auto;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 5px;
}

nav :last-child {
    padding: 7px 20px;
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    border-radius: 5px;
    border: 2px solid black;
}


/* =======SIZING======== */


/* =======MAIN SELECTORS======== */


/* =======MAIN SELECTORS======== */


/* =======MAIN SELECTORS======== */


/* =======MAIN SELECTORS======== */


/* =======MAIN SELECTORS======== */


/* =======MAIN SELECTORS======== */


/* =======MAIN SELECTORS======== */