p {
    font-size: 3vw;
    text-align: center;
    line-height: 1.5em;
    padding: 0 40px;
    border-top: 3px dashed #B38728;
    border-bottom: 3px dashed #B38728;
    width: 80vw;
    margin: 50px auto;
}

body {
    overflow: auto;
}