                *,
                html {
                    font-size: 100%;
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                *,
                *:before,
                *:after {
                    box-sizing: inherit;
                }
                /* =======MAIN SELECTORS======== */
                
                body,
                html {
                    overflow: hidden;
                    font-family: 'Nandaka Western';
                    text-align: center;
                    background: rgb(135, 135, 135);
                    background: radial-gradient(circle, rgba(100, 100, 100, 0.325) 8%, rgba(133, 133, 133, 0.35057773109243695) 29%, rgba(66, 66, 66, 0.3) 45%, rgba(24, 25, 25, 1) 100%), url('barbershopbg.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    height: 100%;
                    text-shadow: 2px 2px 2px black, -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 0px 2px 2px black, 2px 0px 2px black, 0px -2px 2px black, -2px 0px 2px black, 5px 5px 10px black;
                    margin-bottom: 0;
                    color: white;
                }
                
                aside {
                    grid-area: aside;
                    position: fixed;
                    color: white;
                    background: rgb(0, 0, 0);
                    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(130, 130, 130, 0.31416316526610644) 46%, rgba(0, 0, 0, 1) 100%);
                    margin-top: 15%;
                    border-radius: 12px;
                    border: 5px solid black;
                    bottom: 0;
                }
                
                ul li i,
                ul li h3 {
                    padding-top: 10%;
                    padding-bottom: 10%;
                }
                /* =======GRID======== */
                
                .grid-container {
                    display: grid;
                    grid-template-areas: "header header nav""main main main""social social social";
                    grid-template-columns: 1fr 2fr 2fr;
                    grid-template-rows: 1fr 3fr 1fr;
                }
                
                .grid-header {
                    grid-area: header;
                    background-image: url("hairbarb.png");
                    background-position: left;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                
                .grid-nav {
                    grid-area: nav;
                    display: flex;
                    justify-content: space-around;
                }
                
                .grid-nav a {
                    color: white;
                }
                
                .grid-aside {
                    grid-area: aside;
                }
                
                .grid-main {
                    grid-area: main;
                }
                
                .social {
                    display: flex;
                    grid-area: social;
                    justify-content: flex-end;
                }
                
                .social a {
                    padding: 0 2%;
                    text-decoration: none;
                    align-self: flex-end;
                }
                /* =======TYPOGRAPHY======== */
                /* ---FAMILY--- */
                
                h2,
                p,
                h3,
                i,
                ul li {
                    font-family: 'Bitstream Vera Serif';
                    font-weight: normal;
                }
                /* ---SIZE--- */
                
                h1 {
                    font-size: 4em;
                }
                
                h2 {
                    font-size: 2em;
                }
                
                h3 {
                    font-size: 2em;
                }
                
                nav {
                    font-size: 1em
                }
                
                h1,
                i {
                    color: #BF953F;
                }
                
                nav {
                    width: 100%;
                    margin: auto;
                }
                
                nav a {
                    text-decoration: none;
                    color: black;
                    padding: 10px 5px;
                }
                
                nav :last-child {
                    padding: 7px 20px;
                    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
                    border-radius: 5px;
                    border: 2px solid black;
                }
                /* ==========BUTTONS=========== */
                /* ---ENTER--- */
                
                button {
                    background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0 12.5%, rgba(255, 255, 255, 1) 0 25%, rgba(0, 4, 255, 1) 0 37.5%, rgba(255, 255, 255, 1) 0 50%, rgba(255, 0, 0, 1) 0 62.5%, rgba(255, 255, 255, 1) 0 75%, rgba(0, 4, 255, 1) 0 87.5%, rgba(255, 255, 255, 1) 0);
                    border-radius: 5px;
                    box-shadow: 5px 5px 10px black;
                    padding: 1vh 5vw;
                    animation-name: button;
                    animation-duration: 3.5s;
                    animation-iteration-count: infinite;
                    animation-direction: normal;
                    animation-timing-function: linear;
                }
                
                button a {
                    color: white;
                    text-decoration: none;
                    font-size: 1.5em;
                    font-family: 'Nandaka Western';
                    text-align: center;
                    text-shadow: 2px 2px 2px black, -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 0px 2px 2px black, 2px 0px 2px black, 0px -2px 2px black, -2px 0px 2px black, 5px 5px 10px black;
                }
                /* ---PHONE--- */
                
                .phone {
                    background-color: green;
                    border-radius: 4px;
                    border: 2px solid white;
                }
                
                .number {
                    text-decoration: none;
                }
                /* ---SOCIAL--- */
                /* ===============ANIMATION=============== */
                
                @keyframes button {
                    0% {
                        background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0 12.5%, rgba(255, 255, 255, 1) 0 25%, rgba(0, 4, 255, 1) 0 37.5%, rgba(255, 255, 255, 1) 0 50%, rgba(255, 0, 0, 1) 0 62.5%, rgba(255, 255, 255, 1) 0 75%, rgba(0, 4, 255, 1) 0 87.5%, rgba(255, 255, 255, 1) 0);
                    }
                    8% {
                        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0 12.5%, rgba(255, 0, 0, 1) 0 25%, rgba(255, 255, 255, 1) 0 37.5%, rgba(0, 4, 255, 1) 0 50%, rgba(255, 255, 255, 1) 0 62.5%, rgba(255, 0, 0, 1) 0 75%, rgba(255, 255, 255, 1) 0 87.5%, rgba(0, 4, 255, 1) 0);
                    }
                    16% {
                        background: linear-gradient(45deg, rgba(0, 4, 255, 1) 0 12.5%, rgba(255, 255, 255, 1) 0 25%, rgba(255, 0, 0, 1) 0 37.5%, rgba(255, 255, 255, 1) 0 50%, rgba(0, 4, 255, 1) 0 62.5%, rgba(255, 255, 255, 1) 0 75%, rgba(255, 0, 0, 1) 0 87.5%, rgba(255, 255, 255, 1) 0);
                    }
                    24% {
                        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0 12.5%, rgba(0, 4, 255, 1) 0 25%, rgba(255, 255, 255, 1) 0 37.5%, rgba(255, 0, 0, 1) 0 50%, rgba(255, 255, 255, 1) 0 62.5%, rgba(0, 4, 255, 1) 0 75%, rgba(255, 255, 255, 1) 0 87.5%, rgba(255, 0, 0, 1) 0);
                    }
                    32% {
                        background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0 12.5%, rgba(255, 255, 255, 1) 0 25%, rgba(0, 4, 255, 1) 0 37.5%, rgba(255, 255, 255, 1) 0 50%, rgba(255, 0, 0, 1) 0 62.5%, rgba(255, 255, 255, 1) 0 75%, rgba(0, 4, 255, 1) 0 87.5%, rgba(255, 255, 255, 1) 0);
                    }
                    40% {
                        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0 12.5%, rgba(255, 0, 0, 1) 0 25%, rgba(255, 255, 255, 1) 0 37.5%, rgba(0, 4, 255, 1) 0 50%, rgba(255, 255, 255, 1) 0 62.5%, rgba(255, 0, 0, 1) 0 75%, rgba(255, 255, 255, 1) 0 87.5%, rgba(0, 4, 255, 1) 0);
                    }
                    48% {
                        background: linear-gradient(45deg, rgba(0, 4, 255, 1) 0 12.5%, rgba(255, 255, 255, 1) 0 25%, rgba(255, 0, 0, 1) 0 37.5%, rgba(255, 255, 255, 1) 0 50%, rgba(0, 4, 255, 1) 0 62.5%, rgba(255, 255, 255, 1) 0 75%, rgba(255, 0, 0, 1) 0 87.5%, rgba(255, 255, 255, 1) 0);
                    }
                    56% {
                        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0 12.5%, rgba(0, 4, 255, 1) 0 25%, rgba(255, 255, 255, 1) 0 37.5%, rgba(255, 0, 0, 1) 0 50%, rgba(255, 255, 255, 1) 0 62.5%, rgba(0, 4, 255, 1) 0 75%, rgba(255, 255, 255, 1) 0 87.5%, rgba(255, 0, 0, 1) 0);
                    }
                    64% {
                        background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0 12.5%, rgba(255, 255, 255, 1) 0 25%, rgba(0, 4, 255, 1) 0 37.5%, rgba(255, 255, 255, 1) 0 50%, rgba(255, 0, 0, 1) 0 62.5%, rgba(255, 255, 255, 1) 0 75%, rgba(0, 4, 255, 1) 0 87.5%, rgba(255, 255, 255, 1) 0);
                    }
                    72% {
                        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0 12.5%, rgba(255, 0, 0, 1) 0 25%, rgba(255, 255, 255, 1) 0 37.5%, rgba(0, 4, 255, 1) 0 50%, rgba(255, 255, 255, 1) 0 62.5%, rgba(255, 0, 0, 1) 0 75%, rgba(255, 255, 255, 1) 0 87.5%, rgba(0, 4, 255, 1) 0);
                    }
                    80% {
                        background: linear-gradient(45deg, rgba(0, 4, 255, 1) 0 12.5%, rgba(255, 255, 255, 1) 0 25%, rgba(255, 0, 0, 1) 0 37.5%, rgba(255, 255, 255, 1) 0 50%, rgba(0, 4, 255, 1) 0 62.5%, rgba(255, 255, 255, 1) 0 75%, rgba(255, 0, 0, 1) 0 87.5%, rgba(255, 255, 255, 1) 0);
                    }
                    88% {
                        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0 12.5%, rgba(0, 4, 255, 1) 0 25%, rgba(255, 255, 255, 1) 0 37.5%, rgba(255, 0, 0, 1) 0 50%, rgba(255, 255, 255, 1) 0 62.5%, rgba(0, 4, 255, 1) 0 75%, rgba(255, 255, 255, 1) 0 87.5%, rgba(255, 0, 0, 1) 0);
                    }
                    100% {
                        background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0 12.5%, rgba(255, 255, 255, 1) 0 25%, rgba(0, 4, 255, 1) 0 37.5%, rgba(255, 255, 255, 1) 0 50%, rgba(255, 0, 0, 1) 0 62.5%, rgba(255, 255, 255, 1) 0 75%, rgba(0, 4, 255, 1) 0 87.5%, rgba(255, 255, 255, 1) 0);
                    }
                }
                /* =============MEDIA Qs============== */
                
                @media screen and (max-width: 1300px) {
                    .grid-container {
                        display: grid;
                        grid-template-areas: "header nav""main main""social social";
                        grid-template-columns: 1fr 5fr;
                        grid-template-rows: 1fr 3fr 1fr;
                    }
                }
                
                @media screen and (max-width: 1100px) {
                    .grid-container {
                        display: grid;
                        grid-template-areas: "header""nav""main""aside""social";
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
                        overflow: auto;
                    }
                    aside {
                        position: relative;
                        top: 0;
                        margin: auto;
                        width: 30%;
                    }
                    button {
                        margin: 5% 0;
                    }
                    h1 {
                        font-size: 3.5em;
                    }
                    h2,
                    h3 {
                        font-size: 2em;
                    }
                    aside ul li i {
                        font-size: 1.5;
                    }
                }
                
                @media screen and (max-width: 850px) {
                    .grid-container {
                        display: grid;
                        grid-template-areas: "nav""main""aside""social";
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr 3fr 1fr 1fr;
                    }
                    aside {
                        width: 40%;
                    }
                    .social {
                        justify-content: center;
                    }
                }
                
                @media screen and (max-width: 600px) {
                    aside {
                        width: 50%;
                    }
                }
                
                @media screen and (max-width: 500px) {
                    aside {
                        width: 80%;
                    }
                }