.mapouter {
    position: relative;
    text-align: right;
    height: 250px;
    width: 600px;
    margin: auto;
}

.gmap_canvas,
#gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 250px;
    width: 600px;
}

.gmap_canvas {
    border: 5px solid black;
    border-radius: 12px;
    box-shadow: 7px 7px 20px black;
}

.contact-info {
    display: block;
    padding: 20px 0;
}

.contact-us {
    margin-top: 5%;
}